REACT_APP_BACKEND_URL="http://localhost:4000"
REACT_APP_RAPID_API_URL='https://judge0-ce.p.rapidapi.com/submissions'
REACT_APP_RAPID_API_HOST="judge0-ce.p.rapidapi.com"
REACT_APP_RAPID_API_KEY="*"
REACT_APP_EDITOR_KEY="*"