<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/logo.png" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="A feature rich Text and Code Editor that combines document sharing, editing, and compilation capabilities"
    />
    <link rel="apple-touch-icon" href="/logo.png" />
    <title>Editor Pro</title>
    <script defer="defer" src="/static/js/main.b666a233.js"></script>
    <link href="/static/css/main.ec1b92e9.css" rel="stylesheet" />
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
